<!-- <ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://via.placeholder.com/150" alt="profile picture">
      </ion-avatar>
      <ion-card-title>{{ loggedInUser }}</ion-card-title>
      <ion-card-subtitle>Profile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Email: {{ loggedInUserEmail }}</p>
      <p>Teléfono: {{ loggedInUserPhone }}</p>
      <p>Dirección: {{ loggedInUserAddress }}</p>
    </ion-card-content>
  </ion-card>
</ion-content> -->
