<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Buscador -->
  <ion-searchbar></ion-searchbar>

  <!-- Grupo de temas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Temas:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item><a href="#">Tema 1</a></ion-item>
        <ion-item><a href="#">Tema 2</a></ion-item>
        <ion-item><a href="#">Tema 3</a></ion-item>
        <ion-item><a href="#">Tema 4</a></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Contenido -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Topic</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Aquí puedes agregar el contenido relacionado con el tema seleccionado.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
